@define-color highlight rgba(131, 192, 146, 1); /* Everforest aqua #83c092 */
@define-color dark-9 rgba(35, 42, 46, .80);        /* bg_dim  #232a2e */
@define-color dark-8 rgba(45, 53, 59, 1);        /* bg0     #2d353b */
@define-color dark-7 rgba(52, 63, 68, 1);        /* bg1     #343f44 */
@define-color dark-6 rgba(61, 72, 77, 1);        /* bg2     #3d484d */
@define-color dark-5 rgba(71, 82, 88, 1);        /* bg3     #475258 */* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: JetBrainsMono Nerd Font Propo;
  font-size: 20px;
}

window#waybar {
  background-color: @dark-9;
  color: white;
}

#workspaces button {
  padding: 3px;
  margin: 7px 0px 7px 7px;
  background: transparent;
  border-radius: 2px;
  color: white;
}

#workspaces button.active {
  background: @highlight;
  color: black;
  font-weight: 700;
}

#submap,
#battery,
#bluetooth,
#network,
#cpu,
#memory,
#volume {
  border-radius: 8px;
  padding: 5px 8px;
  background: @dark-8;
  margin: 5px 10px 5px 0px;
}

#submap,
#workspaces button.urgent {
  background: rgba(227, 81, 73, 1);
  color: black;
}

#pulseaudio-slider {
  padding: 0px;
  margin: 0px;
  margin-left: 8px;
}

#pulseaudio-slider slider {
  all: unset;
  min-height: 0;
  min-width: 0;
  opacity: 0;
  background-image: none;
  border: none;
  box-shadow: none;
}

#pulseaudio-slider trough {
  min-height: 8px;
  min-width: 75px;
  border-radius: 5px;
  background: @dark-7;
}

#pulseaudio-slider highlight {
  min-width: 10px;
  border-radius: 5px;
  background: @highlight;
}

tooltip {
  background: @dark-9;
  border-radius: 5px;
}

tooltip label {
  color: white;
}

#media {
  color: #42ff9f;
  margin: 7px 0px 7px 80px;
}

#custom-media-animation {
  font-size: 13px;
  margin-right: 10px;
}

#custom-media-now-playing {
  margin-right: 10px;
}

#custom-media-time {
  color: @dark-5;
  font-size: 14px;
}
